#main .content ul.list{
  list-style-type:none;
  column-width:12em;
  column-gap:1em;
  column-fill:balance;
  padding-inline:1em;
}
#bands .content{
  display:flex;
  gap:1rem;
  flex-flow:row wrap;
  justify-content:space-around;
}
#bands .content span p{
 width:clamp(306px, 30vi, 75em); 
}
#bands .center-icons{
  display:flex;
  flex-flow:row;
  place-content:center center;
}
#bands .center-icons > a{
 height:1rem;
 &::after{content:none}
}
.Email:before{
  content:"📩";
  font-size:.75em;
  /*Thkfully rms underline for some reason*/
  display:inline-block;
}
.Instagram,.Twitter,.Bluesky,.Spotify,.GitHub,.LinkedIn,.YT,.lastfm,.letterboxd,.linktree,.Twitch,.TikTok,.Ko-fi,.ORCID {
  &:before{
  content:"";
  display:inline-block;
  translate:0 .13em;
  height:1em;
  width:1em;
  background-size:1em 1em;
  background-position:center;
  margin-inline-end:.5em;
  }
}
.Instagram:before{
  background-image:url('https://static.cdninstagram.com/rsrc.php/v3/yR/r/lam-fZmwmvn.png');
}
.Twitter:before{
  background-image:url('https://abs.twimg.com/favicons/twitter.3.ico');
}
.Bluesky:before{
  background-size:contain;
  background-repeat:no-repeat;
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Bluesky_Logo.svg/1200px-Bluesky_Logo.svg.png');
}
.Spotify:before{
  background-image:url('https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png');
}
.GitHub:before{
  background-image:url('https://github.githubassets.com/favicons/favicon-dark.svg');
}
.LinkedIn:before{
  background-image:url('https://static.licdn.com/aero-v1/sc/h/akt4ae504epesldzj74dzred8');
}
.YT:before{
  background-image:url('https://www.youtube.com/s/desktop/494dd881/img/favicon_32x32.png');
}
.lastfm:before{
  background-image:url('https://www.last.fm/static/images/favicon.702b239b6194.ico');
}
.letterboxd:before{
  background-image:url('https://letterboxd.com/favicon.ico');
}
.linktree:before{
  background-image:url('https://assets.production.linktr.ee/11b181a48aec60f69b1fae056ecd49e69cad6193/favicon/favicon-16x16.png');
}
.Twitch:before{
  background-image:url('https://assets.twitch.tv/assets/favicon-32-e29e246c157142c94346.png');
}
.TikTok:before{
  background-image:url('https://www.tiktok.com/favicon.ico');
}
.ORCID:before{
  background-image:url('https://orcid.org/sites/default/files/images/orcid_16x16.png');
}
.Ko-fi:before{
  background-size:contain;
  background-repeat:no-repeat;
  background-image:url('https://storage.ko-fi.com/cdn/brandasset/v2/kofi_symbol.png');
}